In [1]:
import numpy as np
import pandas as pd

# 버스 카운트

In [3]:
# 날짜
day = 1

In [14]:
for day in range(1, 31):
    try:
        # 날짜별로 저장한 df 다시 불러오기
        df_group = pd.read_csv(fr'..\datasets\geo_group_midtofinal_{day}.csv', encoding = 'cp949')
        df_group.groupby(list(df_group.columns)).size().reset_index(name = 'count')

        path = df_group.value_counts().reset_index(name = 'count').sort_values(by='count', ascending=False)

        path['num_bus'] = np.ceil(path['count'] / 20).astype(int)

        # idx, bus 매칭시켜서 df로 저장해두기
        # 나중에 컬럼을 bus 대수만큼 복제해야함
        idx_bus = path['num_bus'].to_dict()
        df_map = pd.DataFrame(list(idx_bus.items()), columns = ['idx', 'num_bus'])

        df_map.to_csv(f'df_map_{day}.csv', index = False)

        df_path = pd.DataFrame()
        df_path['idx'] = path.index
        df_path[['mid_lat', 'mid_lng', 'end_lat', 'end_lng', 'mid_time', 'end_time']] = path[['mid_lat', 'mid_lng', 'end_lat', 'end_lng', '중간집결 기한', '최종도착 기한']]
        df_path.to_csv(f'df_path_{day}.csv', index = False, encoding = 'cp949')

    except FileNotFoundError:
        print(f"⚠️ 파일 없음: geo_group_midtofinal_{day}.csv → 건너뜀")
        continue

⚠️ 파일 없음: geo_group_midtofinal_9.csv → 건너뜀
⚠️ 파일 없음: geo_group_midtofinal_16.csv → 건너뜀
⚠️ 파일 없음: geo_group_midtofinal_22.csv → 건너뜀
⚠️ 파일 없음: geo_group_midtofinal_24.csv → 건너뜀
⚠️ 파일 없음: geo_group_midtofinal_25.csv → 건너뜀
⚠️ 파일 없음: geo_group_midtofinal_29.csv → 건너뜀

In [ ]:
# # 날짜별로 저장한 df 다시 불러오기
# df_group = pd.read_csv(fr'..\datasets\geo_group_midtofinal_{day}.csv', encoding = 'cp949')
# df_group

         중간집결 기한   최종도착 기한    mid_lat     mid_lng    end_lat     end_lng
0       0+1일 11시  0+1일 14시  37.434626  126.733758  37.386058  127.976279
1       0+1일 10시  0+1일 14시  37.369753  127.930076  37.861988  128.196155
2       0+1일 11시  0+1일 14시  36.008610  129.363828  36.943815  129.382136
3       0+1일 11시  0+1일 14시  37.512757  126.763911  37.706864  126.972062
4       0+1일 11시  0+1일 14시  37.458594  126.751967  37.617751  127.192097
...          ...       ...        ...         ...        ...         ...
151328   0+1일 9시  0+1일 14시  37.512757  126.763911  37.706864  126.972062
151329  0+1일 12시  0+1일 14시  37.628033  127.090423  38.038574  127.141494
151330  0+1일 11시  0+1일 14시  37.458594  126.751967  37.617751  127.192097
151331   0+1일 9시  0+1일 14시  37.631622  127.078372  38.085506  127.984215
151332  0+1일 12시  0+1일 14시  36.785968  127.164274  36.564962  127.277604

[151333 rows x 6 columns]

In [ ]:
# df_group.groupby(list(df_group.columns)).size().reset_index(name = 'count')

      중간집결 기한   최종도착 기한    mid_lat     mid_lng    end_lat     end_lng  count
0    0+1일 10시  0+1일 14시  35.157494  128.162567  35.306136  127.003466     75
1    0+1일 10시  0+1일 14시  35.169097  129.136312  35.975178  129.418303   1188
2    0+1일 10시  0+1일 14시  35.210966  128.972221  35.085165  128.076465    173
3    0+1일 10시  0+1일 14시  35.210966  128.972221  35.203626  128.145641    665
4    0+1일 10시  0+1일 14시  35.210966  128.972221  35.306136  127.003466     80
..        ...       ...        ...         ...        ...         ...    ...
621   0+1일 9시  0+1일 14시  37.556108  127.150850  38.134203  127.645333    224
622   0+1일 9시  0+1일 14시  37.556108  127.150850  38.186301  128.060205    140
623   0+1일 9시  0+1일 14시  37.558784  126.803355  38.173465  127.662624      6
624   0+1일 9시  0+1일 14시  37.570356  126.818781  38.066084  127.515290      6
625   0+1일 9시  0+1일 14시  37.631622  127.078372  38.085506  127.984215    120

[626 rows x 7 columns]

In [ ]:
# path = df_group.value_counts().reset_index(name = 'count').sort_values(by='count', ascending=False)
# path

      중간집결 기한   최종도착 기한    mid_lat     mid_lng    end_lat     end_lng  count
0    0+1일 11시  0+1일 14시  37.519888  127.130863  37.842830  127.496829   3354
1    0+1일 11시  0+1일 14시  37.458594  126.751967  37.603635  127.225330   2999
2    0+1일 11시  0+1일 14시  37.458594  126.751967  37.605284  127.176745   2996
3    0+1일 11시  0+1일 14시  37.458594  126.751967  37.617751  127.192097   2669
4     0+1일 9시  0+1일 14시  37.512757  126.763911  37.706864  126.972062   2279
..        ...       ...        ...         ...        ...         ...    ...
621   0+1일 7시  0+1일 14시  37.372799  127.935788  38.337512  128.452819      2
622  0+1일 11시  0+1일 14시  37.507059  126.836277  37.745883  127.022619      2
623  0+1일 11시  0+1일 14시  37.502595  126.798980  37.706864  126.972062      2
624   0+1일 9시  0+1일 14시  37.293906  127.030614  38.086771  127.388994      1
625   0+1일 7시  0+1일 14시  37.372799  127.935788  38.244072  128.564985      1

[626 rows x 7 columns]

In [ ]:
# path['num_bus'] = np.ceil(path['count'] / 20).astype(int)
# path

,중간집결 기한,최종도착 기한,mid_lat,mid_lng,end_lat,end_lng,count,num_bus
0,0+1일 11시,0+1일 14시,37.519888,127.130863,37.842830,127.496829,3354,168
1,0+1일 11시,0+1일 14시,37.458594,126.751967,37.603635,127.225330,2999,150
2,0+1일 11시,0+1일 14시,37.458594,126.751967,37.605284,127.176745,2996,150
3,0+1일 11시,0+1일 14시,37.458594,126.751967,37.617751,127.192097,2669,134
4,0+1일 9시,0+1일 14시,37.512757,126.763911,37.706864,126.972062,2279,114
...,...,...,...,...,...,...,...,...
621,0+1일 7시,0+1일 14시,37.372799,127.935788,38.337512,128.452819,2,1
622,0+1일 11시,0+1일 14시,37.507059,126.836277,37.745883,127.022619,2,1
623,0+1일 11시,0+1일 14시,37.502595,126.798980,37.706864,126.972062,2,1
624,0+1일 9시,0+1일 14시,37.293906,127.030614,38.086771,127.388994,1,1
625,0+1일 7시,0+1일 14시,37.372799,127.935788,38.244072,128.564985,1,1

In [ ]:
# # idx, bus 매칭시켜서 df로 저장해두기
# # 나중에 컬럼을 bus 대수만큼 복제해야함
# idx_bus = path['num_bus'].to_dict()
# df_map = pd.DataFrame(list(idx_bus.items()), columns = ['idx', 'num_bus'])
# df_map

# df_map.to_csv(f'df_map_{day}.csv', index = False)

In [ ]:
# df_path = pd.DataFrame()
# df_path['idx'] = path.index
# df_path[['mid_lat', 'mid_lng', 'end_lat', 'end_lng', 'mid_time', 'end_time']] = path[['mid_lat', 'mid_lng', 'end_lat', 'end_lng', '중간집결 기한', '최종도착 기한']]
# df_path

     idx    mid_lat     mid_lng    end_lat     end_lng  mid_time  end_time
0      0  37.519888  127.130863  37.842830  127.496829  0+1일 11시  0+1일 14시
1      1  37.458594  126.751967  37.603635  127.225330  0+1일 11시  0+1일 14시
2      2  37.458594  126.751967  37.605284  127.176745  0+1일 11시  0+1일 14시
3      3  37.458594  126.751967  37.617751  127.192097  0+1일 11시  0+1일 14시
4      4  37.512757  126.763911  37.706864  126.972062   0+1일 9시  0+1일 14시
..   ...        ...         ...        ...         ...       ...       ...
621  621  37.372799  127.935788  38.337512  128.452819   0+1일 7시  0+1일 14시
622  622  37.507059  126.836277  37.745883  127.022619  0+1일 11시  0+1일 14시
623  623  37.502595  126.798980  37.706864  126.972062  0+1일 11시  0+1일 14시
624  624  37.293906  127.030614  38.086771  127.388994   0+1일 9시  0+1일 14시
625  625  37.372799  127.935788  38.244072  128.564985   0+1일 7시  0+1일 14시

[626 rows x 7 columns]

In [ ]:
# df_path.to_csv(f'df_path_{day}.csv', index = False, encoding = 'cp949')

In [ ]:
# 아래는 사용 X

In [12]:
# df_path = path.loc[path.index.repeat(path['num_bus'].astype(int))].reset_index(drop = False)
# df_path.drop(columns = ['count', 'num_bus'], inplace = True)
# df_path

,index,중간집결 기한,최종도착 기한,mid_lat,mid_lng,end_lat,end_lng
0,0,0+28일 10시,0+28일 14시,36.837383,127.168501,38.075658,128.178350
1,0,0+28일 10시,0+28일 14시,36.837383,127.168501,38.075658,128.178350
2,0,0+28일 10시,0+28일 14시,36.837383,127.168501,38.075658,128.178350
3,0,0+28일 10시,0+28일 14시,36.837383,127.168501,38.075658,128.178350
4,0,0+28일 10시,0+28일 14시,36.837383,127.168501,38.075658,128.178350
...,...,...,...,...,...,...,...
17473,1123,0+4일 11시,0+4일 14시,35.852632,128.560400,35.975178,129.418303
17474,1124,0+1일 9시,0+1일 14시,37.293906,127.030614,38.086771,127.388994
17475,1125,0+5일 11시,0+5일 14시,35.848225,128.581993,36.628910,128.359521
17476,1126,0+3일 11시,0+3일 14시,37.389971,127.944085,37.389971,127.944085
17477,1127,0+1일 7시,0+1일 14시,37.372799,127.935788,38.244072,128.564985

In [88]:
# for i in range(1,  31):
#     key = f'0+{i}일'
#     temp = df[df['end_time'].str.contains(key, regex = False)]

#     if temp.empty:
#         continue

#     temp.to_excel(f'geo_group_midtofinal_{i}.xlsx', index = False)