In [80]:
import numpy as np
import pandas as pd

In [81]:
df = pd.read_csv(r'..\datasets\bottle.csv', encoding = 'cp949')
df

,순번,출발지 주소,중간집결지 주소,최종 도착지 주소,중간집결 기한,최종도착 기한,이동방법,start_lat,start_lng,mid_lat,mid_lng,end_lat,end_lng
0,1,경기도 고양시 덕양구 중앙로633번길 12,경기도 고양시 덕양구 혜음로 142,경기도 고양시 덕양구 혜음로 142,0+1일 14시,0+1일 14시,개별,37.626949,126.827581,37.713020,126.902443,37.713020,126.902443
1,2,대구광역시 서구 북비산로61길 20-24,경상북도 경주시 태종로 516,경기도 고양시 덕양구 동헌로 305,0+28일 9시,0+28일 14시,집단,35.881731,128.567540,35.839566,129.185196,37.713651,126.889915
2,3,서울특별시 양천구 목동중앙본로11길 19,서울특별시 서초구 사평대로45길 26,강원특별자치도 동해시 대동로 430,0+3일 8시,0+3일 14시,집단,37.540484,126.867756,37.506451,127.012692,37.503393,129.130509
3,4,서울특별시 강남구 학동로 432,경기도 과천시 중앙로 294,경기도 과천시 중앙로 294,0+1일 14시,0+1일 14시,개별,37.517981,127.048764,37.441493,126.996973,37.441493,126.996973
4,5,대구광역시 남구 명덕로 236,대구광역시 수성구 무열로 56,대구광역시 수성구 무열로 56,0+3일 14시,0+3일 14시,개별,35.854689,128.595157,35.863198,128.651230,35.863198,128.651230
...,...,...,...,...,...,...,...,...,...,...,...,...,...
810703,815771,서울특별시 마포구 만리재로 60,경기도 남양주시 덕릉로 967,경기도 남양주시 덕릉로 967,0+3일 14시,0+3일 14시,개별,37.545396,126.956541,37.680966,127.094797,37.680966,127.094797
810704,815772,충청남도 아산시 실옥로 15,충청남도 천안시 동남구 천안대로 429-13,세종특별자치시 당산로 333,0+1일 12시,0+1일 14시,집단,36.784616,126.993744,36.785968,127.164274,36.564962,127.277604
810705,815773,광주광역시 광산구 장신로19번길 10,광주광역시 북구 우치로 339,광주광역시 북구 우치로 339,0+1일 14시,0+1일 14시,개별,35.191980,126.812837,35.194959,126.903760,35.194959,126.903760
810706,815774,서울특별시 동작구 사당로8길 55,서울특별시 강동구 양재대로156길 11,강원특별자치도 인제군 인제로277번길 20,0+7일 10시,0+7일 14시,집단,37.483031,126.967851,37.556933,127.146625,38.075658,128.178350
810707,815775,경기도 성남시 중원구 자혜로17번길 42-3,강원특별자치도 원주시 연세대길 1,강원특별자치도 원주시 연세대길 1,0+2일 14시,0+2일 14시,개별,37.453652,127.163587,37.280875,127.901000,37.280875,127.901000

In [82]:
df_group = df.loc[df['이동방법'] == '집단'].reset_index(drop = True)

num = df_group['순번']
df_group = df_group.drop(columns = ['출발지 주소', '중간집결지 주소', '최종 도착지 주소', '이동방법', 'start_lat', 'start_lng', '순번'])
df_group

          중간집결 기한    최종도착 기한    mid_lat     mid_lng    end_lat     end_lng
0        0+28일 9시  0+28일 14시  35.839566  129.185196  37.713651  126.889915
1         0+3일 8시   0+3일 14시  37.506451  127.012692  37.503393  129.130509
2        0+1일 11시   0+1일 14시  37.434626  126.733758  37.386058  127.976279
3        0+1일 10시   0+1일 14시  37.369753  127.930076  37.861988  128.196155
4        0+2일 11시   0+2일 14시  37.544505  126.893350  37.625465  126.708721
...           ...        ...        ...         ...        ...         ...
338489    0+7일 7시   0+7일 14시  35.136810  126.879059  37.873435  127.157399
338490  0+21일 10시  0+21일 14시  36.837383  127.168501  38.075658  128.178350
338491    0+7일 7시   0+7일 14시  35.136810  126.879059  37.873435  127.157399
338492   0+1일 12시   0+1일 14시  36.785968  127.164274  36.564962  127.277604
338493   0+7일 10시   0+7일 14시  37.556933  127.146625  38.075658  128.178350

[338494 rows x 6 columns]

In [83]:
df.groupby(list(df_group.columns)).size().reset_index(name = 'count')

,중간집결 기한,최종도착 기한,mid_lat,mid_lng,end_lat,end_lng,count
0,0+10일 11시,0+10일 14시,37.405539,126.946517,37.239105,127.283989,21
1,0+10일 11시,0+10일 14시,37.502595,126.798980,37.222532,126.886055,132
2,0+10일 12시,0+10일 14시,37.286532,127.036915,37.645843,127.101903,263
3,0+10일 12시,0+10일 14시,37.433188,127.137678,37.395776,127.554452,212
4,0+10일 12시,0+10일 14시,37.433188,127.137678,37.645843,127.101903,112
...,...,...,...,...,...,...,...
2793,0+8일 14시,0+8일 14시,37.679573,127.038322,37.679573,127.038322,52
2794,0+9일 14시,0+9일 14시,35.156631,128.995449,35.156631,128.995449,40
2795,0+9일 14시,0+9일 14시,35.849224,128.604625,35.849224,128.604625,58
2796,0+9일 14시,0+9일 14시,36.989530,127.107267,36.989530,127.107267,43
2797,0+9일 14시,0+9일 14시,37.464613,127.105683,37.464613,127.105683,14

In [84]:
path = df_group.value_counts().reset_index(name = 'count').sort_values(by='count', ascending=False)
path

,중간집결 기한,최종도착 기한,mid_lat,mid_lng,end_lat,end_lng,count
0,0+28일 10시,0+28일 14시,36.837383,127.168501,38.075658,128.178350,6434
1,0+4일 11시,0+4일 14시,37.520934,127.122959,37.941801,127.714647,4276
2,0+7일 9시,0+7일 14시,36.145874,128.393503,37.941801,127.714647,4158
3,0+7일 10시,0+7일 14시,37.556933,127.146625,38.075658,128.178350,3977
4,0+2일 11시,0+2일 14시,37.520934,127.122959,37.941801,127.714647,3791
...,...,...,...,...,...,...,...
1123,0+4일 11시,0+4일 14시,35.852632,128.560400,35.975178,129.418303,1
1124,0+1일 9시,0+1일 14시,37.293906,127.030614,38.086771,127.388994,1
1125,0+5일 11시,0+5일 14시,35.848225,128.581993,36.628910,128.359521,1
1126,0+3일 11시,0+3일 14시,37.389971,127.944085,37.389971,127.944085,1
1127,0+1일 7시,0+1일 14시,37.372799,127.935788,38.244072,128.564985,1

In [91]:
path['num_bus'] = np.ceil(path['count'] / 20).astype(int)
path

,중간집결 기한,최종도착 기한,mid_lat,mid_lng,end_lat,end_lng,count,num_bus
0,0+28일 10시,0+28일 14시,36.837383,127.168501,38.075658,128.178350,6434,322
1,0+4일 11시,0+4일 14시,37.520934,127.122959,37.941801,127.714647,4276,214
2,0+7일 9시,0+7일 14시,36.145874,128.393503,37.941801,127.714647,4158,208
3,0+7일 10시,0+7일 14시,37.556933,127.146625,38.075658,128.178350,3977,199
4,0+2일 11시,0+2일 14시,37.520934,127.122959,37.941801,127.714647,3791,190
...,...,...,...,...,...,...,...,...
1123,0+4일 11시,0+4일 14시,35.852632,128.560400,35.975178,129.418303,1,1
1124,0+1일 9시,0+1일 14시,37.293906,127.030614,38.086771,127.388994,1,1
1125,0+5일 11시,0+5일 14시,35.848225,128.581993,36.628910,128.359521,1,1
1126,0+3일 11시,0+3일 14시,37.389971,127.944085,37.389971,127.944085,1,1
1127,0+1일 7시,0+1일 14시,37.372799,127.935788,38.244072,128.564985,1,1

In [93]:
df_path = path.loc[path.index.repeat(path['num_bus'].astype(int))].reset_index(drop = False)
df_path.drop(columns = ['count', 'num_bus'], inplace = True)
df_path

,index,중간집결 기한,최종도착 기한,mid_lat,mid_lng,end_lat,end_lng
0,0,0+28일 10시,0+28일 14시,36.837383,127.168501,38.075658,128.178350
1,0,0+28일 10시,0+28일 14시,36.837383,127.168501,38.075658,128.178350
2,0,0+28일 10시,0+28일 14시,36.837383,127.168501,38.075658,128.178350
3,0,0+28일 10시,0+28일 14시,36.837383,127.168501,38.075658,128.178350
4,0,0+28일 10시,0+28일 14시,36.837383,127.168501,38.075658,128.178350
...,...,...,...,...,...,...,...
17473,1123,0+4일 11시,0+4일 14시,35.852632,128.560400,35.975178,129.418303
17474,1124,0+1일 9시,0+1일 14시,37.293906,127.030614,38.086771,127.388994
17475,1125,0+5일 11시,0+5일 14시,35.848225,128.581993,36.628910,128.359521
17476,1126,0+3일 11시,0+3일 14시,37.389971,127.944085,37.389971,127.944085
17477,1127,0+1일 7시,0+1일 14시,37.372799,127.935788,38.244072,128.564985

In [90]:
df_path.to_csv('df_path.csv', index = False, encoding = 'cp949')

In [88]:
# for i in range(1,  31):
#     key = f'0+{i}일'
#     temp = df[df['end_time'].str.contains(key, regex = False)]

#     if temp.empty:
#         continue

#     temp.to_excel(f'geo_group_midtofinal_{i}.xlsx', index = False)