In [ ]:
import numpy as np
import pandas as pd

In [56]:
df = pd.read_csv(r'C:\Users\user\Desktop\연구\5. 국방부 용역과제\naver_paths_matrix_0_10.csv')
df

,2,3,10,14,17,18,19,21,25,26
0,"129.185386,35.8395991","127.0133776,37.5059758","126.7331755,37.4341334","127.9300834,37.3694178","126.8931815,37.544566","127.0985926,37.4886069","127.4214415,36.3541052","128.3930369,36.1450887","128.3930369,36.1450887","127.1308346,37.5200254"
1,"129.1853819,35.8396145","127.0136273,37.5053189","126.7331185,37.4341763","127.9304991,37.3694244","126.893104,37.544489","127.0985465,37.4885428","127.4214085,36.3547795","128.3930678,36.1449703","128.3930678,36.1449703","127.1308244,37.5200244"
2,"129.1854236,35.8398086","127.0136526,37.5052586","126.7331151,37.4341781","127.9308198,37.3694296","126.8929743,37.544565","127.0984182,37.4884162","127.4214049,36.3550283","128.3930599,36.1448631","128.3930599,36.1448631","127.1306366,37.5200076"
3,"129.1854235,35.8398564","127.0139845,37.5052059","126.7330245,37.4341973","127.9310243,37.3694333","126.8928322,37.5446472","127.0983924,37.4883899","127.4214027,36.3550382","128.3930249,36.1448129","128.3930249,36.1448129","127.1305869,37.5199994"
4,"129.1853998,35.8398865","127.0141068,37.5051811","126.7329512,37.434186","127.9310187,37.3692594","126.8926581,37.5447571","127.0983429,37.488342","127.4213915,36.3550752","128.3926949,36.1447333","128.3926949,36.1447333","127.1305621,37.5199831"
...,...,...,...,...,...,...,...,...,...,...
3776,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"127.7152418,37.9425376","127.7152418,37.9425376",NaN
3777,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"127.7152418,37.9425322","127.7152418,37.9425322",NaN
3778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"127.7152486,37.9425223","127.7152486,37.9425223",NaN
3779,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"127.715252,37.9425177","127.715252,37.9425177",NaN
3780,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"127.7153359,37.9424058","127.7153359,37.9424058",NaN

In [76]:
# 경로 이어주기
cols = df.columns
df_new = pd.DataFrame()

for col in cols:
    df_new[col] = df[col].iloc[:-1].reset_index(drop=True) + "/" + df[col].iloc[1:].reset_index(drop=True)

print(df_new)

                                                  2  \
0      129.185386,35.8395991/129.1853819,35.8396145
1     129.1853819,35.8396145/129.1854236,35.8398086
2     129.1854236,35.8398086/129.1854235,35.8398564
3     129.1854235,35.8398564/129.1853998,35.8398865
4     129.1853998,35.8398865/129.1852074,35.8400009
...                                             ...
3775                                            NaN
3776                                            NaN
3777                                            NaN
3778                                            NaN
3779                                            NaN

                                                  3  \
0     127.0133776,37.5059758/127.0136273,37.5053189
1     127.0136273,37.5053189/127.0136526,37.5052586
2     127.0136526,37.5052586/127.0139845,37.5052059
3     127.0139845,37.5052059/127.0141068,37.5051811
4     127.0141068,37.5051811/127.0142235,37.5051582
...                                             ...
3775                                            NaN
3776                                            NaN
3777                                            NaN
3778                                            NaN
3779                                            NaN

                                                 10  \
0     126.7331755,37.4341334/126.7331185,37.4341763
1     126.7331185,37.4341763/126.7331151,37.4341781
2     126.7331151,37.4341781/126.7330245,37.4341973
3      126.7330245,37.4341973/126.7329512,37.434186
4      126.7329512,37.434186/126.7329099,37.4341317
...                                             ...
3775                                            NaN
3776                                            NaN
3777                                            NaN
3778                                            NaN
3779                                            NaN

                                                 14  \
0     127.9300834,37.3694178/127.9304991,37.3694244
1     127.9304991,37.3694244/127.9308198,37.3694296
2     127.9308198,37.3694296/127.9310243,37.3694333
3     127.9310243,37.3694333/127.9310187,37.3692594
4      127.9310187,37.3692594/127.931016,37.3691656
...                                             ...
3775                                            NaN
3776                                            NaN
3777                                            NaN
3778                                            NaN
3779                                            NaN

                                                 17  \
0        126.8931815,37.544566/126.893104,37.544489
1        126.893104,37.544489/126.8929743,37.544565
2      126.8929743,37.544565/126.8928322,37.5446472
3     126.8928322,37.5446472/126.8926581,37.5447571
4     126.8926581,37.5447571/126.8924738,37.5448725
...                                             ...
3775                                            NaN
3776                                            NaN
3777                                            NaN
3778                                            NaN
3779                                            NaN

                                                 18  \
0     127.0985926,37.4886069/127.0985465,37.4885428
1     127.0985465,37.4885428/127.0984182,37.4884162
2     127.0984182,37.4884162/127.0983924,37.4883899
3      127.0983924,37.4883899/127.0983429,37.488342
4      127.0983429,37.488342/127.0982382,37.4882398
...                                             ...
3775                                            NaN
3776                                            NaN
3777                                            NaN
3778                                            NaN
3779                                            NaN

                                                 19  \
0     127.4214415,36.3541052/127.4214085,36.3547795
1     127.4214085,36.3547795/127.4214049,36.3550283
2     127.4214049,36.3550283/127.4214027,36.3550382
3     127.4214027,36.3550382/127.4213915,36.3550752
4     127.4213915,36.3550752/127.4213524,36.3551689
...                                             ...
3775                                            NaN
3776                                            NaN
3777                                            NaN
3778                                            NaN
3779                                            NaN

                                                 21  \
0     128.3930369,36.1450887/128.3930678,36.1449703
1     128.3930678,36.1449703/128.3930599,36.1448631
2     128.3930599,36.1448631/128.3930249,36.1448129
3     128.3930249,36.1448129/128.3926949,36.1447333
4     128.3926949,36.1447333/128.3924288,36.1446929
...                                             ...
3775   127.7152418,37.942543/127.7152418,37.9425376
3776  127.7152418,37.9425376/127.7152418,37.9425322
3777  127.7152418,37.9425322/127.7152486,37.9425223
3778   127.7152486,37.9425223/127.715252,37.9425177
3779   127.715252,37.9425177/127.7153359,37.9424058

                                                 25  \
0     128.3930369,36.1450887/128.3930678,36.1449703
1     128.3930678,36.1449703/128.3930599,36.1448631
2     128.3930599,36.1448631/128.3930249,36.1448129
3     128.3930249,36.1448129/128.3926949,36.1447333
4     128.3926949,36.1447333/128.3924288,36.1446929
...                                             ...
3775   127.7152418,37.942543/127.7152418,37.9425376
3776  127.7152418,37.9425376/127.7152418,37.9425322
3777  127.7152418,37.9425322/127.7152486,37.9425223
3778   127.7152486,37.9425223/127.715252,37.9425177
3779   127.715252,37.9425177/127.7153359,37.9424058

                                                 26
0     127.1308346,37.5200254/127.1308244,37.5200244
1     127.1308244,37.5200244/127.1306366,37.5200076
2     127.1306366,37.5200076/127.1305869,37.5199994
3     127.1305869,37.5199994/127.1305621,37.5199831
4     127.1305621,37.5199831/127.1305498,37.5199578
...                                             ...
3775                                            NaN
3776                                            NaN
3777                                            NaN
3778                                            NaN
3779                                            NaN

[3780 rows x 10 columns]

In [77]:
results = pd.DataFrame(columns = ['num'])

for col in cols:
    temp = pd.DataFrame({'num': list(set(df_new[col]))})
    results = pd.concat([results, temp], axis = 0, ignore_index = True)
results

                                                 num
0      127.4835244,37.2460998/127.4823562,37.2461492
1        129.16308,35.8179999/129.1620747,35.8183582
2      129.0464798,35.8886335/129.0460005,35.8888813
3      128.8915567,36.0263468/128.8912289,36.0265769
4      128.4258248,36.2679486/128.4252347,36.2682291
...                                              ...
25640   127.197449,37.5309329/127.1978489,37.5311331
25641   127.3004564,37.4173819/127.300462,37.4173738
25642   127.2488837,37.4679065/127.2493371,37.466258
25643  127.3223537,37.3721729/127.3231919,37.3721318
25644   127.2749722,37.4462036/127.275709,37.4459148

[25645 rows x 1 columns]

In [99]:
df_count = pd.DataFrame(results['num'].value_counts(ascending = False)).reset_index()
df_count['start_path'] = df_count['num'].str.split('/', expand = True)[0]
df_count['end_path'] = df_count['num'].str.split('/', expand = True)[1]

In [ ]:
df_count['start_path_lat'] = df_count['start_path'].str.split(',', expand = True)[1]
df_count['start_path_lng'] = df_count['start_path'].str.split(',', expand = True)[0]
df_count['end_path_lat'] = df_count['end_path'].str.split(',', expand = True)[1]
df_count['end_path_lng'] = df_count['end_path'].str.split(',', expand = True)[0]

In [1]:
df_result = df_count.drop(columns = ['num', 'start_path', 'end_path'])
df_result

NameError: name 'df_count' is not defined

In [ ]:
# # 저장
# df_result.to_csv('df_result.csv', index = False)