In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\user\Desktop\연구\5. 국방부 용역과제\naver_paths_matrix_0_10.csv')
df

,2,3,10,14,17,18,19,21,25,26
0,"129.185386,35.8395991","127.0133776,37.5059758","126.7331755,37.4341334","127.9300834,37.3694178","126.8931815,37.544566","127.0985926,37.4886069","127.4214415,36.3541052","128.3930369,36.1450887","128.3930369,36.1450887","127.1308346,37.5200254"
1,"129.1853819,35.8396145","127.0136273,37.5053189","126.7331185,37.4341763","127.9304991,37.3694244","126.893104,37.544489","127.0985465,37.4885428","127.4214085,36.3547795","128.3930678,36.1449703","128.3930678,36.1449703","127.1308244,37.5200244"
2,"129.1854236,35.8398086","127.0136526,37.5052586","126.7331151,37.4341781","127.9308198,37.3694296","126.8929743,37.544565","127.0984182,37.4884162","127.4214049,36.3550283","128.3930599,36.1448631","128.3930599,36.1448631","127.1306366,37.5200076"
3,"129.1854235,35.8398564","127.0139845,37.5052059","126.7330245,37.4341973","127.9310243,37.3694333","126.8928322,37.5446472","127.0983924,37.4883899","127.4214027,36.3550382","128.3930249,36.1448129","128.3930249,36.1448129","127.1305869,37.5199994"
4,"129.1853998,35.8398865","127.0141068,37.5051811","126.7329512,37.434186","127.9310187,37.3692594","126.8926581,37.5447571","127.0983429,37.488342","127.4213915,36.3550752","128.3926949,36.1447333","128.3926949,36.1447333","127.1305621,37.5199831"
...,...,...,...,...,...,...,...,...,...,...
3776,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"127.7152418,37.9425376","127.7152418,37.9425376",NaN
3777,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"127.7152418,37.9425322","127.7152418,37.9425322",NaN
3778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"127.7152486,37.9425223","127.7152486,37.9425223",NaN
3779,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"127.715252,37.9425177","127.715252,37.9425177",NaN
3780,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"127.7153359,37.9424058","127.7153359,37.9424058",NaN

In [3]:
# 경로 이어주기
cols = df.columns
df_new = pd.DataFrame()

for col in cols:
    df_new[col] = df[col].iloc[:-1].reset_index(drop=True) + "/" + df[col].iloc[1:].reset_index(drop=True)

print(df_new)

                                                  2  \
0      129.185386,35.8395991/129.1853819,35.8396145
1     129.1853819,35.8396145/129.1854236,35.8398086
2     129.1854236,35.8398086/129.1854235,35.8398564
3     129.1854235,35.8398564/129.1853998,35.8398865
4     129.1853998,35.8398865/129.1852074,35.8400009
...                                             ...
3775                                            NaN
3776                                            NaN
3777                                            NaN
3778                                            NaN
3779                                            NaN

                                                  3  \
0     127.0133776,37.5059758/127.0136273,37.5053189
1     127.0136273,37.5053189/127.0136526,37.5052586
2     127.0136526,37.5052586/127.0139845,37.5052059
3     127.0139845,37.5052059/127.0141068,37.5051811
4     127.0141068,37.5051811/127.0142235,37.5051582
...                                             ...
3775                                            NaN
3776                                            NaN
3777                                            NaN
3778                                            NaN
3779                                            NaN

                                                 10  \
0     126.7331755,37.4341334/126.7331185,37.4341763
1     126.7331185,37.4341763/126.7331151,37.4341781
2     126.7331151,37.4341781/126.7330245,37.4341973
3      126.7330245,37.4341973/126.7329512,37.434186
4      126.7329512,37.434186/126.7329099,37.4341317
...                                             ...
3775                                            NaN
3776                                            NaN
3777                                            NaN
3778                                            NaN
3779                                            NaN

                                                 14  \
0     127.9300834,37.3694178/127.9304991,37.3694244
1     127.9304991,37.3694244/127.9308198,37.3694296
2     127.9308198,37.3694296/127.9310243,37.3694333
3     127.9310243,37.3694333/127.9310187,37.3692594
4      127.9310187,37.3692594/127.931016,37.3691656
...                                             ...
3775                                            NaN
3776                                            NaN
3777                                            NaN
3778                                            NaN
3779                                            NaN

                                                 17  \
0        126.8931815,37.544566/126.893104,37.544489
1        126.893104,37.544489/126.8929743,37.544565
2      126.8929743,37.544565/126.8928322,37.5446472
3     126.8928322,37.5446472/126.8926581,37.5447571
4     126.8926581,37.5447571/126.8924738,37.5448725
...                                             ...
3775                                            NaN
3776                                            NaN
3777                                            NaN
3778                                            NaN
3779                                            NaN

                                                 18  \
0     127.0985926,37.4886069/127.0985465,37.4885428
1     127.0985465,37.4885428/127.0984182,37.4884162
2     127.0984182,37.4884162/127.0983924,37.4883899
3      127.0983924,37.4883899/127.0983429,37.488342
4      127.0983429,37.488342/127.0982382,37.4882398
...                                             ...
3775                                            NaN
3776                                            NaN
3777                                            NaN
3778                                            NaN
3779                                            NaN

                                                 19  \
0     127.4214415,36.3541052/127.4214085,36.3547795
1     127.4214085,36.3547795/127.4214049,36.3550283
2     127.4214049,36.3550283/127.4214027,36.3550382
3     127.4214027,36.3550382/127.4213915,36.3550752
4     127.4213915,36.3550752/127.4213524,36.3551689
...                                             ...
3775                                            NaN
3776                                            NaN
3777                                            NaN
3778                                            NaN
3779                                            NaN

                                                 21  \
0     128.3930369,36.1450887/128.3930678,36.1449703
1     128.3930678,36.1449703/128.3930599,36.1448631
2     128.3930599,36.1448631/128.3930249,36.1448129
3     128.3930249,36.1448129/128.3926949,36.1447333
4     128.3926949,36.1447333/128.3924288,36.1446929
...                                             ...
3775   127.7152418,37.942543/127.7152418,37.9425376
3776  127.7152418,37.9425376/127.7152418,37.9425322
3777  127.7152418,37.9425322/127.7152486,37.9425223
3778   127.7152486,37.9425223/127.715252,37.9425177
3779   127.715252,37.9425177/127.7153359,37.9424058

                                                 25  \
0     128.3930369,36.1450887/128.3930678,36.1449703
1     128.3930678,36.1449703/128.3930599,36.1448631
2     128.3930599,36.1448631/128.3930249,36.1448129
3     128.3930249,36.1448129/128.3926949,36.1447333
4     128.3926949,36.1447333/128.3924288,36.1446929
...                                             ...
3775   127.7152418,37.942543/127.7152418,37.9425376
3776  127.7152418,37.9425376/127.7152418,37.9425322
3777  127.7152418,37.9425322/127.7152486,37.9425223
3778   127.7152486,37.9425223/127.715252,37.9425177
3779   127.715252,37.9425177/127.7153359,37.9424058

                                                 26
0     127.1308346,37.5200254/127.1308244,37.5200244
1     127.1308244,37.5200244/127.1306366,37.5200076
2     127.1306366,37.5200076/127.1305869,37.5199994
3     127.1305869,37.5199994/127.1305621,37.5199831
4     127.1305621,37.5199831/127.1305498,37.5199578
...                                             ...
3775                                            NaN
3776                                            NaN
3777                                            NaN
3778                                            NaN
3779                                            NaN

[3780 rows x 10 columns]

In [4]:
results = pd.DataFrame(columns = ['num'])

for col in cols:
    temp = pd.DataFrame({'num': list(set(df_new[col]))})
    results = pd.concat([results, temp], axis = 0, ignore_index = True)
results

                                                 num
0      128.2862701,36.3661396/128.2861693,36.3663098
1      126.9293256,37.7185237/126.9290949,37.7185703
2       128.155101,36.5380561/128.1550498,36.5380745
3       127.8478302,36.9731417/127.847589,36.9741989
4        126.9032772,37.70681/126.9028507,37.7068069
...                                              ...
25640  127.1304948,37.5182468/127.1305365,37.5180496
25641  127.9170599,37.3017181/127.9170457,37.3013982
25642  127.2623767,37.4502009/127.2626868,37.4500996
25643  127.8295543,37.3914144/127.8307931,37.3910422
25644  127.9249704,37.3289065/127.9251243,37.3287581

[25645 rows x 1 columns]

In [5]:
df_count = pd.DataFrame(results['num'].value_counts(ascending = False)).reset_index()
df_count['start_path'] = df_count['num'].str.split('/', expand = True)[0]
df_count['end_path'] = df_count['num'].str.split('/', expand = True)[1]

In [6]:
df_count['start_path_lat'] = df_count['start_path'].str.split(',', expand = True)[1]
df_count['start_path_lng'] = df_count['start_path'].str.split(',', expand = True)[0]
df_count['end_path_lat'] = df_count['end_path'].str.split(',', expand = True)[1]
df_count['end_path_lng'] = df_count['end_path'].str.split(',', expand = True)[0]

In [12]:
df_count

,num,count,start_path,end_path,start_path_lat,start_path_lng,end_path_lat,end_path_lng,geometry
0,"127.8837056,37.389615/127.8839108,37.3895296",3,"127.8837056,37.389615","127.8839108,37.3895296",37.389615,127.8837056,37.3895296,127.8839108,"LINESTRING (127.8837056 37.389615, 127.8839108..."
1,"127.4128799,37.3795583/127.4146975,37.3794325",3,"127.4128799,37.3795583","127.4146975,37.3794325",37.3795583,127.4128799,37.3794325,127.4146975,"LINESTRING (127.4128799 37.3795583, 127.414697..."
2,"127.3985092,37.3809458/127.4005427,37.3807727",3,"127.3985092,37.3809458","127.4005427,37.3807727",37.3809458,127.3985092,37.3807727,127.4005427,"LINESTRING (127.3985092 37.3809458, 127.400542..."
3,"127.3749997,37.376877/127.3760746,37.3771269",3,"127.3749997,37.376877","127.3760746,37.3771269",37.376877,127.3749997,37.3771269,127.3760746,"LINESTRING (127.3749997 37.376877, 127.3760746..."
4,"127.725604,37.3970883/127.7279365,37.3965484",3,"127.725604,37.3970883","127.7279365,37.3965484",37.3970883,127.725604,37.3965484,127.7279365,"LINESTRING (127.725604 37.3970883, 127.7279365..."
...,...,...,...,...,...,...,...,...,...
19817,"127.3645674,37.2972015/127.3642839,37.2973805",1,"127.3645674,37.2972015","127.3642839,37.2973805",37.2972015,127.3645674,37.2973805,127.3642839,"LINESTRING (127.3645674 37.2972015, 127.364283..."
19818,"129.1930103,35.8381649/129.1934891,35.8379787",1,"129.1930103,35.8381649","129.1934891,35.8379787",35.8381649,129.1930103,35.8379787,129.1934891,"LINESTRING (129.1930103 35.8381649, 129.193489..."
19819,"127.0889063,37.6756376/127.0886233,37.6757565",1,"127.0889063,37.6756376","127.0886233,37.6757565",37.6756376,127.0889063,37.6757565,127.0886233,"LINESTRING (127.0889063 37.6756376, 127.088623..."
19820,"129.1694455,35.8139802/129.1663264,35.8161465",1,"129.1694455,35.8139802","129.1663264,35.8161465",35.8139802,129.1694455,35.8161465,129.1663264,"LINESTRING (129.1694455 35.8139802, 129.166326..."
19821,"129.035424,35.8920506/129.0344034,35.8922682",1,"129.035424,35.8920506","129.0344034,35.8922682",35.8920506,129.035424,35.8922682,129.0344034,"LINESTRING (129.035424 35.8920506, 129.0344034..."

In [11]:
df_count['geometry'] = 'LINESTRING (' + df_count['start_path_lng'] + ' ' + df_count['start_path_lat'] + ', ' + df_count['end_path_lng'] + ' ' + df_count['end_path_lat'] + ')'
df_count['geometry'][0]

'LINESTRING (127.8837056 37.389615, 127.8839108 37.3895296)'

In [13]:
df_result = df_count.drop(columns = ['num', 'start_path', 'end_path', 'start_path_lat', 'start_path_lng', 'end_path_lat', 'end_path_lng'])
df_result

       count                                           geometry
0          3  LINESTRING (127.8837056 37.389615, 127.8839108...
1          3  LINESTRING (127.4128799 37.3795583, 127.414697...
2          3  LINESTRING (127.3985092 37.3809458, 127.400542...
3          3  LINESTRING (127.3749997 37.376877, 127.3760746...
4          3  LINESTRING (127.725604 37.3970883, 127.7279365...
...      ...                                                ...
19817      1  LINESTRING (127.3645674 37.2972015, 127.364283...
19818      1  LINESTRING (129.1930103 35.8381649, 129.193489...
19819      1  LINESTRING (127.0889063 37.6756376, 127.088623...
19820      1  LINESTRING (129.1694455 35.8139802, 129.166326...
19821      1  LINESTRING (129.035424 35.8920506, 129.0344034...

[19822 rows x 2 columns]

In [14]:
# 저장
df_result.to_csv('df_result.csv')